<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_name) %>:</strong></dt>
  <dd><%= @course.course_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @course.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_number) %>:</strong></dt>
  <dd><%= @course.course_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= @course.department %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prerequisite_course_number) %>:</strong></dt>
  <dd><%= @course.prerequisite_course_number %></dd>
</dl>

<% if User.where(id: current_user.id, roles_mask: 2).any? %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                "/users/schedule", :class => 'btn btn-default'  %>
<% else %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                users_path, :class => 'btn btn-default'  %>
<% end %>