<% if (current_user.roles_mask == 2) %>
    <td><%= fparam.users_id %></td>
<% end %>
<td><%= link_to Course.find(fparam.courses_id).course_name, controller: "courses", action: "schedule_course", id: fparam.courses_id %></td>
<td><%= fparam.semester %></td>
<td><%= fparam.year %></td>
<td><%= fparam.complete %></td>
<td>
  <% if (current_user.roles_mask == 2) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  "/courses/schedule_edit", :class => 'btn btn-default btn-xs' %>
  <% end %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              users_schedule_remove_path(users_id: fparam.users_id, courses_id: fparam.courses_id, semester: fparam.semester, year: fparam.year),
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
</td>