<% if (fparam.roles_mask == 2) %>
    <td><%= "Admin" %></td>
<% elsif (fparam.roles_mask == 1)%>
    <td><%= "Instructor" %></td>
<% else %>
    <td><%= "Student" %></td>
<% end %>
      <td><%= fparam.email %></td>
      <td><%= fparam.first_name %></td>
      <td><%= fparam.last_name %></td>
      <td><%= fparam.street_address %></td>
      <td><%= fparam.phone_number %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_user_path(fparam), :class => 'btn btn-default btn-xs' %>
        <% if((current_user.roles_mask == 2) && (!(current_user.id == fparam.id)))%>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        user_path(fparam), :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
        <% end %>
      </td>