<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Admin Information" %></h1>
</div>

<div class="page-header">
  <h2><%=link_to t('.title', :default => "My Account"), :controller=>"users", :action=>"show", :id=>current_user.id %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <%= render :partial => "users/user_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% User.where(id: current_user.id).each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <%= render :partial => "user_info", locals: {fparam: user} %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="page-header">
  <h2><%=t '.title', :default => "Users" %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <%= render :partial => "users/user_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% User.where.not(id: current_user.id).each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <%= render :partial => "user_info", locals: {fparam: user} %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="page-header">
  <h2><%=link_to t('.title', :default => "Courses"), controller: "courses", action: "index" %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <%= render :partial => "courses/course_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% Course.all.each do |course| %>
      <tr>
        <%= render :partial => "courses/course_info", locals: {fparam: course} %>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_course_path,
              :class => 'btn btn-xs btn-primary' %>
</div>

<div class="page-header">
  <h2><%=link_to t('.title', :default => "Schedule"), "/users/schedule" %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <%= render :partial => "schedule_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% Schedule.all.each do |schedule| %>
      <tr>
        <%= render :partial => "schedule_info", locals: {fparam: schedule} %>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Add Schedule", '/courses/schedule_add', method: :schedule_add,
      :class => 'btn btn-xs btn-primary'  %>
</div>


<br>
</br>
<br>
</br>
<div>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete,
              :class => 'btn btn-danger'  %>
</div>