<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> Information</h1>
</div>

<div class="page-header">
  <h2><%=t '.title', :default => "My Account" %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:user_type) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <th><%= model_class.human_attribute_name(:first_name) %></th>
    <th><%= model_class.human_attribute_name(:last_name) %></th>
    <th><%= model_class.human_attribute_name(:street_address) %></th>
    <th><%= model_class.human_attribute_name(:phone_number) %></th>

    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
      <tr>
        <td><%= user.user_type %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.street_address %></td>
        <td><%= user.phone_number %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="page-header">
  <h2><%=t '.title', :default => "Schedule" %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:course_name) %></th>
    <th><%= model_class.human_attribute_name(:semester) %></th>
    <th><%= model_class.human_attribute_name(:year) %></th>
    <th><%= model_class.human_attribute_name(:complete) %></th>
  </tr>
  </thead>
  <tbody>
  <% @schedule.each do |schedule| %>
      <tr>
        <td><%= link_to Course.find(schedule.course_id).course_name, controller: "courses", action: "schedule_course", id: schedule.course_id %></td>
        <td><%= schedule.semester %></td>
        <td><%= schedule.year %></td>
        <td><%= schedule.complete %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Add Class", '/courses/schedule_add', method: :schedule_add,
      :class => 'btn btn-default btn-xs'  %>
  <%= link_to "Remove Class", '/courses/remove', method: :schedule_remove,
      :class => 'btn btn-default btn-xs'  %>
</div>


<div class="page-header">
  <h2><%=t '.title', :default => "Other" %></h2>
</div>



<br>
</br>
<br>
</br>
<div>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete,
              :class => 'btn btn-danger'  %>
</div>