<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> Information</h1>
</div>

<div class="page-header">
  <h2><%=link_to t('.title', :default => "My Account"), :controller=>"users", :action=>"show", :id=>current_user.id %></h2>

</div>
<table class="table table-striped">
  <thead>
  <tr>
    <%= render :partial => "user_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
      <tr>
        <%= render :partial => "user_info", locals: {fparam: user} %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="page-header">
  <h2><%=link_to t('.title', :default => "Schedule"), "/users/schedule" %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <%= render :partial => "schedule_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% @schedule.each do |schedule| %>
      <tr>
        <%= render :partial => "schedule_info", locals: {fparam: schedule} %>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Add Class", '/courses/schedule_add', method: :schedule_add,
      :class => 'btn btn-xs btn-primary'  %>
</div>


<br>
</br>
<br>
</br>
<div>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete,
              :class => 'btn btn-danger'  %>
</div>