<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Schedule" %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <%= render :partial => "schedule_model", locals: {fparam: model_class} %>
  </tr>
  </thead>
  <tbody>
  <% @schedule.each do |schedule| %>
      <tr>
        <%= render :partial => "schedule_info", locals: {fparam: schedule} %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if ((current_user.roles_mask == 0) || (current_user.roles_mask == 2))%>
    <div>
      <%= link_to "Add Class", '/courses/schedule_add', method: :schedule_add,
          :class => 'btn btn-xs btn-primary'  %>
    </div>
<% end %>

<br></br>
<%= link_to t('.back', :default => t("helpers.links.back")),
            users_path, :class => 'btn btn-default'  %>
